XML/PumpTotal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Retalix Dallas (Retalix Dallas) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PumpReadingInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Pump"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pump">
		<xs:complexType>
			<xs:attribute name="Volume" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="11111111111111111115400041.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ValueB" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ValueA" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1234567"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Tank2" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Tank1" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ShiftNumber" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ShiftAccumulatedSales" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="500720"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ShiftAccumulatedPumpTest" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="12000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RollingUpdateVolume" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="12345"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PumpStatus" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PumpID" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NozzleStatus" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Nozzle" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Grade" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EndOfShiftStatus" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateAndTime" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2010-07-04,15:48:25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ActiveReadNumber" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
