XML/TankReading.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Retalix Dallas (Retalix Dallas) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TankReadingInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tank"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tank">
		<xs:complexType>
			<xs:attribute name="WaterVolume" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="800000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="WaterLavel" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="800000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Ullage" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="800000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Temperature" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="25000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TcVolume" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="123456"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TankOnline" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TankID" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TankGaugeReadTime" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="17:04"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TankGaugeReadDate" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="09-07-09"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Status" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ShiftNumber" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ShiftAccumulatedSales" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1524000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ShiftAccumulatedDeliveryVolume" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="3450200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Product" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PricePerLitre" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="123456"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FuelWeight" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1234567"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FuelVolume" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="144000012"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FuelValue" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1234567"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FuelLevel" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1440666"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="EndOfShiftStatus" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Density" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="123456"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DeliveryInProg" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateAndTime" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2009-07-09,17:04:17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Capacity" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="160000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="AdditionalCode" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="300002"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ActiveReadNumber" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
